.DS_Store
.DS_Store?
C1 - Azure Infrastructure Operations/project/starter_files/sp-credentials.txt
C1 - Azure Infrastructure Operations/project/starter_files/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.43.0/windows_amd64/terraform-provider-azurerm_v3.43.0_x5.exe
C1 - Azure Infrastructure Operations/project/starter_files/terraform.tfstate
C1 - Azure Infrastructure Operations/project/starter_files/terraform.tfstate.backup
C1 - Azure Infrastructure Operations/project/starter_files/.terraform.tfstate.lock.info
C1 - Azure Infrastructure Operations/project/starter_files/.terraform.lock.hcl
C1 - Azure Infrastructure Operations/project/starter_files/solution.plan
